.user-form {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 40%;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .user-form button {
    font-weight: bold;
    cursor: pointer;
    padding: 0.6rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 8px;
    margin-right: 1rem;
    margin-top: 8px;
  }

  .user-form input {
    font: inherit;
    padding: 0.1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    display: block;
  }

  .user-form button:hover,
  .user-form button:active {
    background-color: #510674;
    border-color: #510674;
  }
  
  .user-form button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .user-form button.alternative:hover,
  .user-form button.alternative:active {
    background-color: #ddb3f8;
  }

  .user-form label {
    font-weight: bold;
    display: block;
  }